<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

        <link rel="stylesheet" href="./assets/css/style.css"> <!--always put this line after fonts because of how things load-->
        
        <title>Hangman with Vue</title>
    </head>
    <body>
        <div id="app">
            <header>
                <h1>Hangman with Vue</h1>
            </header>
            <main>
                <section>
                    <p id="gallows-line-1"></p>
                    <p id="gallows-line-2"></p>
                </section>
                <ul id="man">
                    <li v-for="bodyPartShown in bodyPartsShown" :key="bodyPartShown">{{ bodyPartShown }}</li> 
                </ul>
                <ul id="word">
                    <li v-for="(letterOfWIP, index) in wordInProg" :key="index">{{ letterOfWIP }}</li> <!-- Note that I had to use ':key="index"' instead of ':key="letterOfWIP"' for the project to work properly...because of the 'You lose' statement (that has two 'o's) and any of the 'words' array words with a letter occurring more than once (e.g., 'hunting' and 'drumming'). Because of course what ':key' is set to has to be a unique value. -->
                </ul>
                <section id="alphabet">
                    <button :disabled="lettersGuessed.includes(alphaLett)" v-for="(alphaLett, index) in alphabet" :key="index" @click="processSelection(alphaLett)">{{ alphaLett }}</button> <!-- Note that I had to use ':key="index"' instead of ':key="alphaLett"' for the project to work properly...because of the 'You lose' statement (that has two 'o's) and any of the 'words' array words with a letter occurring more than once (e.g., 'hunting' and 'drumming'). Because of course what ':key' is set to has to be a unique value. -->
                </section>
            </main>
        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>